.about{
    display:flex;
    background-color: #2885c31a;
    padding: 20px;
}

.left{
    padding: 10px;
}

.right{
    display: flex;
    padding:10px;
    flex-direction: column;
}

.right-main{
    font-size: 35px;
    margin-bottom: 20px;
}

.right-sub{
    font-size:20px;
}